<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="DEBUG">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>
        <File name="file" fileName="/Users/thor/IdeaProjects/SeleniumPOMSample/src/main/resources/logs/tests.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <appender-ref ref="file"/>
        </Root>
        <Logger name="org.example" level="debug" additivity="true">
            <appender-ref ref="console"/>
        </Logger>
    </Loggers>
</Configuration>